<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <section>
        <div class="welcome">
            <svg class="pokedesk" viewBox="0 0 480 724" fill="none" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <g filter="url(#filter0_ddf_512_14)">
                    <rect x="8" y="8" width="460" height="704" rx="12" fill="#F38787" />
                </g>
                <rect x="8" y="8" width="450.98" height="692.459" rx="12" fill="#F38787" />
                <g filter="url(#filter1_dd_512_14)">
                    <rect x="39.5686" y="40.3148" width="405.882" height="34.6229" rx="12" fill="#F38787" />
                </g>
                <g filter="url(#filter2_dd_512_14)">
                    <rect x="163.588" y="436.171" width="109.363" height="15.0033" rx="7.50163" fill="#4AFD46" />
                </g>
                <g filter="url(#filter3_dd_512_14)">
                    <rect x="163.588" y="474.256" width="109.363" height="15.0033" rx="7.50165" fill="#FF8F51" />
                </g>
                <g filter="url(#filter4_ii_512_14)">
                    <path
                        d="M39.5686 115.79C39.5686 109.163 44.9412 103.79 51.5686 103.79H433.451C440.078 103.79 445.451 109.163 445.451 115.79V378.007C445.451 384.634 440.078 390.007 433.451 390.007H143.547C141.177 390.007 138.859 389.305 136.888 387.989L44.9093 326.632C41.5726 324.406 39.5686 320.66 39.5686 316.649V115.79Z"
                        fill="#F38787" />
                </g>
                <path
                    d="M51.5686 104.29H433.451C439.802 104.29 444.951 109.439 444.951 115.79V378.007C444.951 384.358 439.802 389.507 433.451 389.507H143.547C141.275 389.507 139.055 388.834 137.165 387.573L45.1868 326.216C41.9891 324.082 40.0686 320.493 40.0686 316.649V115.79C40.0686 109.439 45.2173 104.29 51.5686 104.29Z"
                    stroke="#FF6666" />
                <rect x="58.7353" y="122.256" width="369.804" height="200.813" rx="12" fill="white" />
                <g filter="url(#filter5_dd_512_14)">
                    <ellipse cx="142.167" cy="354.229" rx="11.2745" ry="11.541" fill="url(#paint0_linear_512_14)"
                        shape-rendering="crispEdges" />
                </g>
                <g filter="url(#filter6_dd_512_14)">
                    <ellipse cx="348.49" cy="57.6262" rx="11.2745" ry="11.541" fill="url(#paint1_linear_512_14)"
                        shape-rendering="crispEdges" />
                </g>
                <g filter="url(#filter7_dd_512_14)">
                    <ellipse cx="386.824" cy="57.6262" rx="11.2745" ry="11.541" fill="url(#paint2_linear_512_14)"
                        shape-rendering="crispEdges" />
                </g>
                <g filter="url(#filter8_dd_512_14)">
                    <ellipse cx="425.157" cy="57.6262" rx="11.2745" ry="11.541" fill="url(#paint3_linear_512_14)"
                        shape-rendering="crispEdges" />
                </g>
                <g filter="url(#filter9_ii_512_14)">
                    <rect x="283.098" y="338.072" width="145.441" height="11.541" rx="5.77049" fill="black"
                        fill-opacity="0.13" />
                </g>
                <g filter="url(#filter10_ii_512_14)">
                    <rect x="283.098" y="354.23" width="145.441" height="11.541" rx="5.77048" fill="black"
                        fill-opacity="0.13" />
                </g>
                <g filter="url(#filter11_ii_512_14)">
                    <rect x="283.098" y="370.387" width="145.441" height="11.541" rx="5.77048" fill="black"
                        fill-opacity="0.13" />
                </g>
                <g filter="url(#filter12_f_512_14)">
                    <ellipse cx="102.706" cy="468.485" rx="39.4608" ry="40.3934" fill="#989FD5" fill-opacity="0.7" />
                </g>
                <g filter="url(#filter13_dd_512_14)">
                    <ellipse cx="98.1961" cy="459.252" rx="39.4608" ry="40.3934" fill="#989FD5" />
                </g>
                <g filter="url(#filter14_ddf_512_14)">
                    <ellipse cx="359.765" cy="536.577" rx="68.7745" ry="70.4" fill="#D2D6F5" />
                </g>
                <ellipse cx="356.382" cy="531.961" rx="67.6471" ry="69.2459" fill="#D2D6F5" />
                <g filter="url(#filter15_dd_512_14)">
                    <path
                        d="M348.772 478.256C348.772 476.047 350.563 474.256 352.772 474.256H366.99C369.218 474.256 371.017 476.077 370.99 478.305L370.525 516.371C370.498 518.599 372.296 520.42 374.525 520.42H412.137C414.346 520.42 416.137 522.211 416.137 524.42V539.502C416.137 541.711 414.346 543.502 412.137 543.502H374.525C372.296 543.502 370.498 545.322 370.525 547.55L370.99 585.617C371.017 587.845 369.218 589.666 366.99 589.666H352.515C350.296 589.666 348.501 587.86 348.515 585.641L348.747 547.526C348.761 545.307 346.966 543.502 344.747 543.502H307.392C305.183 543.502 303.392 541.711 303.392 539.502V524.42C303.392 522.211 305.183 520.42 307.392 520.42H344.772C346.981 520.42 348.772 518.629 348.772 516.42V478.256Z"
                        fill="#D2D6F5" />
                </g>
                <g filter="url(#filter16_ii_512_14)">
                    <rect x="39.5686" y="531.961" width="207.451" height="122.334" rx="10" fill="#FFDE00"
                        fill-opacity="0.8" />
                </g>
                <g filter="url(#filter17_ii_512_14)">
                    <ellipse cx="359.765" cy="531.961" rx="11.2745" ry="11.541" fill="#D2D6F5" />
                </g>
                <rect x="78" y="144" width="332" height="159" fill="url(#pattern0)" />
                <defs>
                    <filter id="filter0_ddf_512_14" x="0" y="0" width="480" height="724" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="4" dy="4" />
                        <feGaussianBlur stdDeviation="4" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.46 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_512_14" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dy="4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="effect1_dropShadow_512_14" result="effect2_dropShadow_512_14" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_512_14" result="shape" />
                        <feGaussianBlur stdDeviation="4" result="effect3_foregroundBlur_512_14" />
                    </filter>
                    <filter id="filter1_dd_512_14" x="27.5686" y="28.3148" width="429.882" height="58.623"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="-4" dy="-4" />
                        <feGaussianBlur stdDeviation="4" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.3 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_512_14" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="4" dy="4" />
                        <feGaussianBlur stdDeviation="4" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0" />
                        <feBlend mode="normal" in2="effect1_dropShadow_512_14" result="effect2_dropShadow_512_14" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_512_14" result="shape" />
                    </filter>
                    <filter id="filter2_dd_512_14" x="151.588" y="424.171" width="133.363" height="39.0033"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="-4" dy="-4" />
                        <feGaussianBlur stdDeviation="4" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.3 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_512_14" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="4" dy="4" />
                        <feGaussianBlur stdDeviation="4" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0" />
                        <feBlend mode="normal" in2="effect1_dropShadow_512_14" result="effect2_dropShadow_512_14" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_512_14" result="shape" />
                    </filter>
                    <filter id="filter3_dd_512_14" x="151.588" y="462.256" width="133.363" height="39.0033"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="-4" dy="-4" />
                        <feGaussianBlur stdDeviation="4" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.3 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_512_14" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="4" dy="4" />
                        <feGaussianBlur stdDeviation="4" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0" />
                        <feBlend mode="normal" in2="effect1_dropShadow_512_14" result="effect2_dropShadow_512_14" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_512_14" result="shape" />
                    </filter>
                    <filter id="filter4_ii_512_14" x="35.5686" y="99.7902" width="413.882" height="294.216"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="-4" dy="-4" />
                        <feGaussianBlur stdDeviation="4" />
                        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.3 0" />
                        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_512_14" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="4" dy="4" />
                        <feGaussianBlur stdDeviation="4" />
                        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0" />
                        <feBlend mode="normal" in2="effect1_innerShadow_512_14" result="effect2_innerShadow_512_14" />
                    </filter>
                    <filter id="filter5_dd_512_14" x="118.892" y="330.689" width="46.5491" height="47.0819"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="-4" dy="-4" />
                        <feGaussianBlur stdDeviation="4" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_512_14" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="4" dy="4" />
                        <feGaussianBlur stdDeviation="4" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="effect1_dropShadow_512_14" result="effect2_dropShadow_512_14" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_512_14" result="shape" />
                    </filter>
                    <filter id="filter6_dd_512_14" x="325.216" y="34.0852" width="46.5491" height="47.082"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="-4" dy="-4" />
                        <feGaussianBlur stdDeviation="4" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_512_14" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="4" dy="4" />
                        <feGaussianBlur stdDeviation="4" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="effect1_dropShadow_512_14" result="effect2_dropShadow_512_14" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_512_14" result="shape" />
                    </filter>
                    <filter id="filter7_dd_512_14" x="363.549" y="34.0852" width="46.549" height="47.082"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="-4" dy="-4" />
                        <feGaussianBlur stdDeviation="4" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_512_14" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="4" dy="4" />
                        <feGaussianBlur stdDeviation="4" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="effect1_dropShadow_512_14" result="effect2_dropShadow_512_14" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_512_14" result="shape" />
                    </filter>
                    <filter id="filter8_dd_512_14" x="401.882" y="34.0852" width="46.5491" height="47.082"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="-4" dy="-4" />
                        <feGaussianBlur stdDeviation="4" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_512_14" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="4" dy="4" />
                        <feGaussianBlur stdDeviation="4" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="effect1_dropShadow_512_14" result="effect2_dropShadow_512_14" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_512_14" result="shape" />
                    </filter>
                    <filter id="filter9_ii_512_14" x="281.098" y="336.072" width="149.441" height="15.541"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="2" dy="2" />
                        <feGaussianBlur stdDeviation="1" />
                        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_512_14" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="-2" dy="-2" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="effect1_innerShadow_512_14" result="effect2_innerShadow_512_14" />
                    </filter>
                    <filter id="filter10_ii_512_14" x="281.098" y="352.23" width="149.441" height="15.541"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="2" dy="2" />
                        <feGaussianBlur stdDeviation="1" />
                        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_512_14" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="-2" dy="-2" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="effect1_innerShadow_512_14" result="effect2_innerShadow_512_14" />
                    </filter>
                    <filter id="filter11_ii_512_14" x="281.098" y="368.387" width="149.441" height="15.541"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="2" dy="2" />
                        <feGaussianBlur stdDeviation="1" />
                        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_512_14" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="-2" dy="-2" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="effect1_innerShadow_512_14" result="effect2_innerShadow_512_14" />
                    </filter>
                    <filter id="filter12_f_512_14" x="53.2451" y="418.092" width="98.9215" height="100.787"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="5" result="effect1_foregroundBlur_512_14" />
                    </filter>
                    <filter id="filter13_dd_512_14" x="50.7353" y="410.859" width="94.9216" height="96.7869"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="-4" dy="-4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix"
                            values="0 0 0 0 0.779167 0 0 0 0 0.779167 0 0 0 0 0.779167 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_512_14" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="4" dy="4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="effect1_dropShadow_512_14" result="effect2_dropShadow_512_14" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_512_14" result="shape" />
                    </filter>
                    <filter id="filter14_ddf_512_14" x="282.99" y="458.177" width="153.549" height="156.8"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="-4" dy="-4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_512_14" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="4" dy="4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="effect1_dropShadow_512_14" result="effect2_dropShadow_512_14" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_512_14" result="shape" />
                        <feGaussianBlur stdDeviation="2" result="effect3_foregroundBlur_512_14" />
                    </filter>
                    <filter id="filter15_dd_512_14" x="295.392" y="466.256" width="128.745" height="131.41"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="-4" dy="-4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_512_14" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="4" dy="4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="effect1_dropShadow_512_14" result="effect2_dropShadow_512_14" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_512_14" result="shape" />
                    </filter>
                    <filter id="filter16_ii_512_14" x="39.5686" y="531.961" width="207.451" height="126.334"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dy="4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_512_14" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dy="4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="effect1_innerShadow_512_14" result="effect2_innerShadow_512_14" />
                    </filter>
                    <filter id="filter17_ii_512_14" x="348.49" y="516.42" width="22.5491" height="31.082"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dy="4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_512_14" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dy="-4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="effect1_innerShadow_512_14" result="effect2_innerShadow_512_14" />
                    </filter>
                    <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                        <use xlink:href="#image0_512_14" transform="translate(0 -0.0909182) scale(0.002 0.0041761)" />
                    </pattern>
                    <linearGradient id="paint0_linear_512_14" x1="153.441" y1="361.731" x2="130.565" y2="346.646"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FF0000" />
                        <stop offset="1" stop-color="#FF0000" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="paint1_linear_512_14" x1="359.765" y1="65.1279" x2="336.889" y2="50.0432"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FF0000" />
                        <stop offset="1" stop-color="#FF0000" stop-opacity="0" />
                    </linearGradient>
                    <linearGradient id="paint2_linear_512_14" x1="398.098" y1="65.1279" x2="375.222" y2="50.0432"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FAFF00" />
                        <stop offset="1" stop-color="#FFE600" stop-opacity="0.61" />
                    </linearGradient>
                    <linearGradient id="paint3_linear_512_14" x1="436.431" y1="65.1279" x2="413.555" y2="50.0432"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00FF38" />
                        <stop offset="1" stop-color="#14FF00" stop-opacity="0.75" />
                    </linearGradient>
                    <linearGradient id="paint4_linear_512_14" x1="92.5588" y1="170.495" x2="351.782" y2="257.552"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#EF3434" />
                        <stop offset="1" stop-color="#361D7E" />
                    </linearGradient>
                    <image id="image0_512_14" width="500" height="283" xlink:href="/images/welcome.gif" />
                </defs>
            </svg>
            <svg class="msg" width="338" height="278" viewBox="0 0 338 278" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_ddf_518_93)">
                    <path
                        id="msg-box"
                        d="M5.99996 18C5.99996 12.4772 10.4771 8 16 8H322C327.523 8 332 12.4772 332 18V180.199C332 185.722 327.523 190.199 322 190.199H159.407C156.979 190.199 154.633 191.083 152.808 192.686L64.7868 270L108.672 205.845C113.212 199.209 108.459 190.199 100.418 190.199H16C10.4771 190.199 5.99996 185.722 5.99996 180.199V18Z"
                        fill="white" fill-opacity="0.6" shape-rendering="crispEdges" />
                </g>
                <defs>
                    <filter id="filter0_ddf_518_93" x="0" y="0" width="338" height="278" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dy="4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_518_93" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dy="-4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="effect1_dropShadow_518_93" result="effect2_dropShadow_518_93" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_518_93" result="shape" />
                        <feGaussianBlur stdDeviation="3" result="effect3_foregroundBlur_518_93" />
                    </filter>
                </defs>
            </svg>
        </div>
        <div>
            <form action="/user/register" method="post">
                <h2>Register to pokemon</h2>
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email">
                </div>
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" nane="username">
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" nane="password">
                </div>
                <div class="input-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" nane="confirm-password">
                </div>
                <div class="action">
                    <button><a href="/user/login">Login</a></button>
                    <button type="submit" >Register</button>
                </div>
            </form>
        </div>
    </section>
    <script>
        const mgsSvg = document.querySelector('#msg-box');
        const objectBoundingBox = mgsSvg.getBoundingClientRect();
        const msgBoxElement = document.createElement('div');
        msgBoxElement.classList.add('msg-box');
        msgBoxElement.style.top = objectBoundingBox.top + 'px';
        msgBoxElement.style.left = objectBoundingBox.left + 'px';
        msgBoxElement.style.width = objectBoundingBox.width + 'px';
        msgBoxElement.style.height = objectBoundingBox.height + 'px';
        document.querySelector('body').appendChild(msgBoxElement);

        const printStr = (str) => {
            msgBoxElement.innerHTML = str;
        }

        const Print = (str) => {
            let i = 0;
            const timer = setInterval(() => {
                printStr(str.substring(0, i));
                i++;
                if (i > str.length) {
                    clearInterval(timer);
                }
            }, 50);
        }

        Print('Register Yourself to start your astonishing  experience with Pokemon...');

        const form = document.querySelector('form');
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            const email = form.querySelector('#email').value;
            const username = form.querySelector('#username').value;
            const password = form.querySelector('#password').value;
            const confirmPassword = form.querySelector('#confirm-password').value;
            if (password !== confirmPassword) {
                Print('Password and Confirm Password do not match');
                return;
            }
            Print('Registering...');
            fetch('/user/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email,
                    username,
                    password
                })
            })
                .then(res => res.json())
                .then(data => {
                    if (data.error) {
                        Print(data.error);
                    } else {
                        Print('You have been registered successfully');
                        setTimeout(() => {
                            window.location.href = data.redirect;
                        }, 3000);
                    }
                })
                .catch(err => console.log(err));
        });
    </script>
</body>

</html>