:root {
  --red-color: #FF0000;
  --red2-color: #CC0000;
  --blue-color: #3B4CCA;
  --yellow-color: #FFDE00;
  --yellow2-color: #B3A125;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --bg-color: #1D3125;
}