.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color: #000000, $alpha: 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999999;
  backdrop-filter: blur(4px);
  & > div,form {
    min-height: 100px;
    min-width: 100px;
    background-color: #fff;
    border-radius: 8px;
    z-index: 1;
  }
}
