
$primary: #ffffff;
$secondery: #d7e3fc;
$opt-1: #ffcead;
$opt-2: #3a86ff;

$text-base: rgb(68, 68, 68);

$text: $text-base;
$text-light: rgb($text-base, 0.7);
$text-lightest: rgb($text-base, 0.35);

$alert: #f55c47;
$warning: #ff9800;
$success: #4caf50;

$white: #ffffff;
$black: #222;
$light-gray: #e7e7e7;

$pink-lace: #ffc6ff;
$melrose: #bdb2ff;
$anakiwa: #a0c4ff;
$snow-flurry: #caffbf;
$protafino: #fdffb6;
$navajo-white: #ffd6a5;
$liac: #ffadad;
